.navigation__list {
    margin: 0;
    padding: 0;
}

.navigation__item {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}

.navigation__link {
    display: inline-block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    transition: 0.2s color ease;
}

.navigation__link:first-of-type {
    padding-left: 20px;
    background-image: url('./assets/home.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 16px;
}
