extends ../layouts/default.pug

include ../components/header/header
include ../components/positioner/positioner

block head
    title Document Title

block body
    +header
    +positioner
        h1 Заголовок
